*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'montserrat'; */
}

body{
    height: 100vh;
    width: 100%;
    /* background: #67ec98; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: black; */
	background-image: url(images/Comp8.gif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.header {
    width: 100%;
    height: 80px;
    /* background-color: #f9fbfa; */
    position: absolute;
    padding: 0px;
    top: 0;
    display: flex;
    margin: px;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 5px 10px rgb(231, 240, 232); */
    /* background-color: #b3d3bd; */
    background-image: url(images/Untitled-2-01.png);
    background-size: cover;
    background-position: center;


}

/* .header img {
    height: 50px;
    width: 200spx;
    margin: 10px;
} */

.header .navbar {
    /* background-color: #ffffff; */
    padding: 10px;
    height: 70px;
    align-self: center;
    align-items: center
    /* border-top: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: #fcfbfb;
    text-decoration: none;
    padding: 20px;
    font-size: 13px;
    font-family: 'montserrat';

}

.navbar a:hover {
    color: #126565;
}


#Zen {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin: 10px;
    font-size: 30px;
    font-family: 'open sans';
    font-weight: 700;
    color: #0f413c;
}

/* Style for the search input */
#searchInput {
    padding: 15px;
    font-size: 16px;
    width: 400px;
    margin-right: 10px;
    border-radius: 50px;
    /* border-color: solid rgb(37, 183, 168); */
    background-color: rgb(229, 234, 232);
    box-shadow: 0 5px 10px rgb(206, 208, 206);
    border: none;
    font-family: 'montserrat';

    /* color: black; */
}

/* Style for the search button */
#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1e8379;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgb(167, 167, 167);
    font-family: 'montserrat';


}

#searchButton:hover {
	background-color: rgb(87, 179, 134);
    scale: 110%;
    animation-duration: 3s;
}

/* Style for the icon results */
#iconResults {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    /* background-color: #ff676D; */
    /* border: solid #59bb8a; */
    padding: 120px 200px;
    border-radius: 50px;
    max-height: 100%;
    max-width: 100%;
    box-shadow: 0 5px 10px rgb(224, 243, 233);
    /* background-image: url(images/dns.png);
    background-size: cover; */

}

/* Style for individual icon items */
#iconResults img {
        max-width: 100px;
        max-height: 100px;
        border: 1px solid #ccc;
        padding: 5px;
    }

